@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Adobe Caslon Pro";

    font-display: swap;
    src: url("../fonts/ACaslonPro-Bold.woff2") format("woff2"), url("../fonts/ACaslonPro-Bold.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Arsenal";

    font-display: swap;
    src: url("../fonts/Arsenal-Bold.woff2") format("woff2"), url("../fonts/Arsenal-Bold.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Cambria";

    font-display: swap;
    src: url("../fonts/Cambria.woff2") format("woff2"), url("../fonts/Cambria.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Montserrat";

    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Montserrat";

    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Muller";

    font-display: swap;
    src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Muller";

    font-display: swap;
    src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Muller";

    font-display: swap;
    src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "MV Boli";

    font-display: swap;
    src: url("../fonts/mvboli.woff2") format("woff2"), url("../fonts/mvboli.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Roboto";

    font-display: swap;
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto";

    font-display: swap;
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto";

    font-display: swap;
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
